{% extends "layout.html" %}

{% block content %}

<div align="center">
        <h2>AutoEncoder</h2>
        <h4>epochs = 50, batch_size = 64,optimizer='adam', loss='mean_squared_error'</h4>
      </div>
    
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col"> DataSets</th>
              <th scope="col">True Positive</th>
              <th scope="col">True Negative</th>
              <th scope="col">False Positive</th>
              <th scope="col">False Negative</th>
              <th scope="col">Detection Rate</th>
              <th scope="col">False Alarm Rate</th>
              <th scope="col">     Total Time</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for posts in DictA %}
              <th scope="row">{{ posts.Name }}</th>
              
    
             <td>{{posts.True_Postive}}</td>
              <td>{{posts.True_Negative}}</td>
              <td>{{posts.False_Positive}}</td>
              <td>{{posts.False_Negative}}</td>
              <td>{{posts.Detection_Rate}} ± {{posts.SD_Detection_Rate}}</td>
              <td>{{posts.False_Positive_Rate}} ± {{posts.SD_False_Alarm_rate}}</td>
              <td>{{posts.Total_Time}}</td>
              
            </tr>
            {% endfor %}
            
            
          </tbody>
        </table>
<div align="center">
    <h2>Compressed AutoEncoder</h2>
    <h4>SequenceLength=100,modelBatchSize=64, modelEpochs=20,optimizer='adam', loss='mse'</h4>
    </div>

    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th scope="col">DataSets</th>
            <th scope="col">True Positive</th>
            <th scope="col">True Negative</th>
            <th scope="col">False Positive</th>
            <th scope="col">False Negative</th>
            <th scope="col">Detection Rate</th>
            <th scope="col">False Alarm Rate</th>
            <th scope="col">     Total Time</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for posts in DictC %}
            <th scope="row">{{ posts.Name }}</th>
            

           <td>{{posts.True_Postive}}</td>
              <td>{{posts.True_Negative}}</td>
              <td>{{posts.False_Positive}}</td>
              <td>{{posts.False_Negative}}</td>
              <td>{{posts.Detection_Rate}} ± {{posts.SD_Detection_Rate}}</td>
              <td>{{posts.False_Positive_Rate}} ± {{posts.SD_False_Alarm_rate}}</td>
              <td>{{posts.Total_Time}}</td>
            
        </tr>
        {% endfor %}
        
        
        </tbody>
    </table>
            
<div align="center">
        <h2>SVM (Trained on Normal and Anomaly) </h2>
        <h4>kernel='rbf'</h4>
        </div>
    
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">DataSets</th>
                <th scope="col">True Positive</th>
                <th scope="col">True Negative</th>
                <th scope="col">False Positive</th>
                <th scope="col">False Negative</th>
                <th scope="col">Detection Rate</th>
                <th scope="col">False Alarm Rate</th>
                <th scope="col">     Total Time</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for posts in DictS %}
                <th scope="row">{{ posts.Name }}</th>
                
    
                <td>{{posts.True_Postive}}</td>
              <td>{{posts.True_Negative}}</td>
              <td>{{posts.False_Positive}}</td>
              <td>{{posts.False_Negative}}</td>
              <td>{{posts.Detection_Rate}} ± {{posts.SD_Detection_Rate}}</td>
              <td>{{posts.False_Positive_Rate}} ± {{posts.SD_False_Alarm_rate}}</td>
              <td>{{posts.Total_Time}}</td>
            </tr>
            {% endfor %}
            
            
            </tbody>
        </table>
 
<div align="center">
        <h2>One Class SVM</h2>
        <h4>cache_size=200,degree=3, gamma='auto', kernel='rbf'</h4>
        </div>
    
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">DataSets</th>
                <th scope="col">True Positive</th>
                <th scope="col">True Negative</th>
                <th scope="col">False Positive</th>
                <th scope="col">False Negative</th>
                <th scope="col">Detection Rate</th>
                <th scope="col">False Alarm Rate</th>
                <th scope="col">     Total Time</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for posts in DictO %}
                <th scope="row">{{ posts.Name }}</th>
                
    
               <td>{{posts.True_Postive}}</td>
              <td>{{posts.True_Negative}}</td>
              <td>{{posts.False_Positive}}</td>
              <td>{{posts.False_Negative}}</td>
              <td>{{posts.Detection_Rate}} ± {{posts.SD_Detection_Rate}}</td>
              <td>{{posts.False_Positive_Rate}} ± {{posts.SD_False_Alarm_rate}}</td>
              <td>{{posts.Total_Time}}</td>
                
            </tr>
            {% endfor %}
            
            
            </tbody>
        </table>
                
{% endblock content   %}

